/**
* COOL BUTTON, YO!
**/


<style type="text/css">

/** --- THE BUTTON --- **/

.button {
    height: 50px;
    width: 250px;
    margin: 0 auto;
    background: #fff;
    border: 2px solid #333d47;
    border-radius: 10px;
    color: #333d47;
    transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
}

.button:hover {
    background: #333d47;
    color: #fff;
    border: none;
}

input[type=submit] {
    text-transform: uppercase;
    font-family: Futura;
    font-size: 1.3em;
}
